[user]
	name = Roey Chasman
	email = rchasman@email.arizona.edu
[core]
	autocrlf = input
	safecrlf = true
	editor = /usr/bin/vim
[achievement]
	upload = true
[color]
	ui = auto
[gravatar]
	hide = false
[hooks]
	global = /Users/rchasman/git-hooks/contrib/
